body {
    background-color: rgb(234, 227, 227);
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outter-content-box {
    border: 3px dark rgb(67, 61, 61);
    border-radius: 10px;
    background-color: gray;
    height: 400px;
    width: 300px;
}

.title-background {
    border-radius: 10px 10px 0px 0px;
    background-color:rgb(234, 227, 227);
    margin: 4px 0px 0px 5px;
    height: 60px;
    line-height: 60px;
    width: 290px;
    z-index: 50;
    text-align: center;
}
