body {
    background-color: rgb(234, 227, 227);
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outter-box {
    border: 3px dark rgb(67, 61, 61);
    border-radius: 10px;
    background-color: gray;
    height: 400px;
    width: 300px;
}